<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	<title>Vue js</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

	<style>
		.wrapper {
			padding: 10px 0;
		}

		.alert {
			transition: min-height 300ms ease-in-out;
		}

	</style>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="sample">
				<div class="alert" :style="[properties, minHeight]">
					Some text
				</div>

				<hr>

				<table class="table table-bordered">
					<tr v-for="(value, name) in properties">
						<td>{{ name }}</td>
						<td>
							<input type="text" v-model="properties[name]">
						</td>
					</tr>
				</table>
				<hr>
				<button class="btn btn-primary" @click="height += 50">
					+height
				</button>
				{{ minHeight }}
			</div>
		</div>
	</div>


	<script>

		new Vue({
			el: '.sample',
			data: {

				properties: {
					color: '#ff0',
					backgroundColor: '#050'
				},

				height: 0
			},

			computed: {
				minHeight() {
					// return 'min-height: ' + this.height + 'px';
					return {
						minHeight: this.height + 'px'
					}
				}
			}

		})
	</script>
</body>
</html>